@media (max-width: 700px) {
  .p-workspace__channel_sidebar{z-index:250;visibility: hidden; padding-top:5px}
  .p-workspace--context-pane-collapsed{grid-template-columns: 0 auto;}
  .p-channel_sidebar__channel.p-channel_sidebar__channel--unread{
      display: inline-block;
      visibility: visible;
      background-color: #1a1d21;
      margin-bottom: 5px;
      border: solid #e01e5a;
      border-width: 1px 1px 1px 0;
      width: auto !important;
      border-radius: 0 5px 5px 0;
      height: 30px;
      min-width: 110px;
  }
  .p-channel_sidebar__channel, .p-channel_sidebar__section_heading, .p-channel_sidebar__static_list > div > button, .p-channel_sidebar__close_container, .p-classic_nav__team_header, .p-channel_sidebar__navigation_bar{display:none;}
  .p-channel_sidebar__static_list > div {display: contents;}
}